.invisible { display: none; }

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
    cursor: none;
}

.wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 700px;
}
